.container {
  display: flex;
  padding: 8px;
  gap: 24px;
}

.personalDetailsContainer {
  display: flex;
  flex-direction: column;
  width: 925px;
  height: 970px;
  top: 120px;
  left: 331px;
  gap: 24px;
}

.basicDataContainer {
  display: flex;
  flex-direction: column;
  width: 925px;
  height: 150px;
  gap: 16px;
}

.birthDataContainer {
  display: flex;
  flex-direction: column;
  width: 925px;
  height: 216px;
  gap: 16px;
}

.financialDataContainer {
  display: flex;
  flex-direction: column;
  width: 925px;
  height: 88px;
  gap: 16px;
}
.familyDataContainer {
  display: flex;
  flex-direction: column;
  width: 925px;
  height: 110px;
  gap: 16px;
}

.numberOfChildrenContainer,
.financialDependentContainer {
  display: flex;
  flex-direction: column;

  width: 925px;
  height: 84px;
  gap: 16px;
}

.basicDataInputContainer {
  display: flex;
  justify-content: space-between;
  width: 925px;
  height: 46px;
  gap: 16px;
}

.select {
  width: 455px;
  height: 48px;
  border-radius: 4px;
  border-width: 1px;
  padding-right: 12px;
  padding-left: 12px;
}

.financialDependentRadioButto,
.hasChildrenRadioButto {
  display: flex;
  flex-direction: column;
  width: 162px;
  height: 42px;
  gap: 32px;
}

.hasChildrenContainer {
  display: flex;
  flex-direction: column;
  width: 925px;
  height: 70px;
  gap: 8px;
}

.numberOfChildrenInputs {
  display: flex;
  width: 925px;
  height: 48px;
  gap: 15px;
}

.stepperController {
  display: flex;
  width: 925px;
  height: 52px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top-width: 1px;
}

.stepperActions {
  display: flex;
  justify-content: flex-end;
  width: 856px;
  height: 36px;
  gap: 8px;
}

.backButton {
  color: #424242 !important;
  display: flex;
  width: 69px;
  height: 36px;
  gap: 16px;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 4px;
}

.cancelButton {
  display: flex;
   color: #424242 !important;

  width: 86px;
  height: 36px;
  gap: 16px;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 4px;
}

.continueButton {

  width: 105px;
  height: 36px;
  display: inline-flex;
  gap: 16px;
  padding: 0 16px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: #01579B !important;
  text-transform: none;
  background-color: transparent; 
  border: none; 
}


