.button {
  background-color: #01579b !important;
  width: 71px;
  height: 36px;
  border-radius: 4px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
}

.container {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
