
.container {
    display: flex;
    padding: 8px;
    gap: 24px;
  }




.addressDetailsContainer{
    display: flex;
    flex-direction: column;
    width: 925px ; 
    height: 848px;
    top: 120px;
    left: 331px;
    gap: 24px;
}


.addressDetailsTitle{
  
}