.contactContainer {
  display: flex;
  flex-direction: column;
  width: 925px;
  height: auto;
  gap: 16px;
  // height: 324px;
}

.contactInputContainer {
  display: flex;
  width: 925px;
  height: auto;
  gap: 16px;
}

.emailContainer,
.phoneContainer {
  display: flex;
  flex-direction: column;
  width: 454.5px;
  min-height: 276px;
  height: auto;
  gap: 16px;
  border-radius: 4px;
  padding: 24px;
  border-width: 1px;
  background-color: #fafafa;
}

.addEmails ,.addPhones {
  display: flex;
  align-items: center;
  width: 406.5px;
  height: 36px;
  justify-content: space-between;
}

.addEmailButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  gap: 4px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px !important;
  line-height: 26px !important;
  letter-spacing: 0.5% !important;
  text-transform: uppercase;
  color: #01579b !important;
}





.select {
  text-align: center;
  width: 406.5px;
  height: 48px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 4px;
  border-width: 1px;
  
}