.contactContainer {
    display: flex;
    flex-direction: column;
  width: 925px;
  height: auto;
  gap: 16px;
}

.contactDataInputContainer {
    display: flex;
  width: 925px;
  height: auto;
  gap: 16px;
}

